@font-face {
    font-family: 'iconfont'; /* Project id 2812235 */
    src: url('iconfont.woff2?t=1641901182128') format('woff2'), url('iconfont.woff?t=1641901182128') format('woff'),
        url('iconfont.ttf?t=1641901182128') format('truetype');
}

.iconfont {
    font-family: 'iconfont' !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-fuzhichenggong1:before {
    content: '\e6da';
}

.icon-Sequence:before {
    content: '\e6d9';
}

.icon-shujuliebiao:before {
    content: '\e6d6';
}

.icon-shibai:before {
    content: '\e6d4';
}

.icon-dengdai:before {
    content: '\e6d2';
}

.icon-chenggong:before {
    content: '\e6d1';
}

.icon-shouqi:before {
    content: '\e6d0';
}

.icon-fuzhi:before {
    content: '\e6cf';
}

.icon-fuzhichenggong:before {
    content: '\e6cd';
}

.icon-address1:before {
    content: '\e75b';
}

.icon-Tx:before {
    content: '\e75a';
}

.icon-github:before {
    content: '\e73f';
}

.icon-rili:before {
    content: '\e732';
}

.icon-reset:before {
    content: '\e731';
}

.icon-wenhao:before {
    content: '\e725';
}

.icon-a-comingsoon:before {
    content: '\e723';
}

.icon-reddit:before {
    content: '\e716';
}

.icon-telegram:before {
    content: '\e715';
}

.icon-medium:before {
    content: '\e714';
}

.icon-tweeter:before {
    content: '\e713';
}

.icon-zhuangtai:before {
    content: '\e712';
}

.icon-address:before {
    content: '\e70f';
}

.icon-search:before {
    content: '\e70d';
}
