@import './reset.css';
@import './index.css';
@import './override.antd.css';
@import './override.tailwind.css';

html {
    width: 100%;
    height: auto;
    body {
        width: 100%;
        height: auto;
    }
}

// // pc
// @media screen and (min-width: 768px) {}

// // tablet
// @media screen and (min-width: 414px) and (max-width: 768px) {}

// // mobile
// @media screen and (max-width: 414px) {}
