@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DroidSansMono";
  src: url("../assets/font/DroidSansMono-enMp.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Verdana";
  src: url("../assets/font/Verdana.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/font/Montserrat-Regular.otf");
  font-weight: normal;
  font-style: normal;
}


@keyframes flicker {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: scale(2);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

:root {
  --bj-primary-color: #3D50FF;
  --bj-background-color: #F5F7FC;
  --bj-background-color-second: #EAECF3;
  --bj-background-color-third: #EAEAEA;
  --bj-border-color: rgba(151, 151, 151, 0.2);
  --bj-text-normal: #000;
  --bj-text-second: rgba(0, 0, 0, 0.75);
  --bj-text-third: rgba(0, 0, 0, 0.35);
  --bj-font-color-65: rgba(0, 0, 0, 0.65);
  --bj-success: #00C853;
  --bj-processing: #FFC400;
  --bj-failed: #FF5A5A;
  --bj-font-size-home-title: 40px;
  --bj-font-size-home-number: 24px;
  --bj-font-size-title: 20px;
  --bj-font-size-sub-title: 16px;
  --bj-font-size-normal: 14px;
  --bj-font-size-small: 12px;
  /* border-radius */
  --border-radius-normal: 4px;
}

.ant-table-cell::before {
    width: 0 !important;
}
.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    font-weight: 400 !important;
}
.ant-picker-focused {
    border-color: var(--bj-primary-color) !important;
}
@media screen and (max-width: 630px) {
    .ant-picker-panels {
        flex-direction: column;
    }
}