.flex(@dir, @wrap: nowrap, @jc, @ai) {
  display: flex;
  flex-flow: @dir @wrap;
  justify-content: @jc;
  align-items: @ai;
}

.hover-cursor {
  cursor: pointer;
  &:hover {
    color: var(--bj-primary-color);
  }
}

.popover-c {
  color: var(--bj-text-second);
  margin: -8px -4px;
}
