html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html,
body,
div,
object,
iframe,
applet,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
address,
dl,
dt,
dd,
ol,
ul,
li,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
progress {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: Montserrat-Regular, Montserrat;
}

body {
  background-color: var(--bj-background-color);
  font-size: var(--bj-font-size-normal) !important;
  color: var(--bj-text-normal);
  font-family: Montserrat-Regular, Montserrat;
}