html,
body,
div,
object,
iframe,
applet,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
address,
dl,
dt,
dd,
ol,
ul,
li,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
progress {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/* scrollbar-color: #3d50ff #f2f2f2;
scrollbar-width: thin; */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: inset006pxrgba(0, 0, 0, 0.5);
    background: rgba(61, 80, 255, 1);
}

::-webkit-scrollbar-track {
    background-color: #f2f2f2;
    box-shadow: inset006pxrgba(0, 0, 0, 0.3);
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:active {
    background: rgba(61, 80, 255, 0.8);
}
html {
    width: 100%;
    height: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    width: 100%;
    height: 100%;
    font-size: var(--bj-font-size-normal) !important;
    font-family: GolosUI_Medium, Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--bj-text-normal);
    background-color: var(--bj-background-color);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* overflow: overlay; */
}
body::-webkit-scrollbar {
    display: none;
}
