@font-face {
    font-family: 'GolosUI_Medium';
    src: url('./Golos-UI_Medium.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Eurocine-regular';
    src: url('./Eurocine-regular-2.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GolosUIWebRegular';
    src: url('./Golos-UI_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
